body {
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #1a5276;
}

.content {
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 8px; 
    width: 100%;
    height: 22%;
}

.child {
    flex: 1; 
    text-align: center; 
    font-family: "Roboto", sans-serif;
    color: beige;
    font-size:250%;
    margin: 2px;
    /* border: 1px solid #bbb; */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); 

}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #003b5c; /* Azul petróleo */
  padding: 10px 0;
  border-radius: 20px;
  width: 30%;
  animation: nav-var-entry 1s ease-in-out;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); /* Sombra aplicada */
}

@keyframes nav-var-entry {
  from {
      opacity: 0;
      transform: translateY(-100px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.navbar a{
  color: #ffffff; /* Texto blanco */
  text-decoration: none;
  padding: 15px 20px;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 200px;
  font-style: normal;
  transition: background-color 0.3s, color 0.3s ease-in;
}

.navbar a:hover {
  background-color: #005c77; /* Color azul petróleo más claro para el hover */
  color: #e0f7fa; /* Color blanco azulado para el texto en hover */
  border-radius: 5px; /* Bordes redondeados para el hover */
  font-size: 120%;
}

.icon {
    width: 200px;
    height: auto; 
    animation: entrada-icon 2s ease-in;
    
}

@keyframes entrada-icon {
    from {
        opacity: 1;
        filter: grayscale(100%) brightness(0%) invert(100%) sepia(10%) saturate(10000%) hue-rotate(-50deg);
    }
    to {
        opacity: 1;
    }
}

.padd{
    padding: 10px;
    margin: 10px;
}

#hotsbog{
    animation: hot-entry 2s ease-in;
}

@keyframes hot-entry {
  from {
      opacity: 1;
      color:#003b5c;
       
  }
  to {
      opacity: 1;
      color: beige;
  }
}

.subtitle{
    font-size: 15%; 
    text-align: center;
    padding-bottom: 5%;
    
}

.subtitle::after{
    content: "";
    animation: after_description 2s linear 1;
    animation-fill-mode: forwards;
}

@keyframes after_description {
    0% {
      content: "Una";
    }
    12% {
      content: "Una alternativa";
    }
    24% {
      content: "Una alternativa para";
    }
    36% {
      content: "Una alternativa para combatir";
    }
    48% {
      content: "Una alternativa para combatir la";
    }
    60% {
      content: "Una alternativa para combatir la inseguridad";
    }
    72% {
      content: "Una alternativa para combatir la inseguridad en";
    }
    100% {
      content: "Una alternativa para combatir la inseguridad en Bogotá";
    }
}

.about {
    display: none;
    padding: 5% 3% 5% 3%;
    margin: 0 3% 0 3%;
    border-top: 3px solid beige;
    font-size: 14%;
    text-align: justify;

}

.show-about {
    display: block;
    padding: 5% 3% 5% 3%;
    margin: 0 3% 0 3%;
    border-top: 3px solid beige;
    font-size: 14%;
    text-align: justify;
    animation: appear 1s ease-in-out;
}

@keyframes appear{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

@keyframes appear1{
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }