body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a5276;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  height: 22%;
}

.child {
  flex: 1;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: beige;
  font-size: 250%;
  margin: 2px;
  /* border: 1px solid #bbb; */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #003b5c;
  padding: 10px 0;
  border-radius: 20px;
  width: 30%;
  animation: nav-var-entry 1s ease-in-out;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container-hidden {
  display: none;
}

.box {
  /* border: 1px solid beige; */
  color: white;
  padding: 3%;
  margin-bottom: 5%;
  text-align: center;
  border-radius: 5px;
  font-size: 50%;
  animation: boxes-appear 1s forwards;
}

@keyframes boxes-appear {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.box:hover {
  font-size: 55%;
  transition: 0.2s ease-in;
  filter: grayscale(100%) brightness(0%) invert(100%) sepia(10%)
    saturate(10000%) hue-rotate(-50deg);
}

@keyframes nav-var-entry {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 200px;
  font-style: normal;
  transition: background-color 0.3s, color 0.3s ease-in;
}

.navbar a:hover {
  background-color: #ffdba3;
  color: #003b5c;
  border-radius: 5px;
  font-size: 120%;
}

.icon {
  width: 200px;
  height: auto;
  animation: entrada-icon 1s ease-in;
}

@keyframes entrada-icon {
  from {
    opacity: 1;
    filter: brightness(0) saturate(100%) invert(100%) sepia(10%) saturate(7473%)
      hue-rotate(13deg) brightness(122%) contrast(105%);
  }
  to {
    opacity: 1;
  }
}

.extra-padding {
  padding: 10px;
  margin: 10px;
}

.hotsbog {
  animation: hot-entry 2s ease-in;
  width: 10%;
  height: 10%;
}

@keyframes hot-entry {
  from {
    opacity: 1;
    color: #003b5c;
  }
  to {
    opacity: 1;
    color: beige;
  }
}

#subtitle {
  font-size: 15%;
  text-align: center;
  padding-bottom: 5%;
}

.about {
  display: none;
  padding: 5% 3% 5% 3%;
  margin: 0 3% 0 3%;
  border-top: 3px solid #ffdba3;
  font-size: 14%;
  text-align: justify;
}

.show-about {
  display: block;
  padding: 5% 3% 5% 3%;
  margin: 0 3% 0 3%;
  border-top: 3px solid #ffdba3;
  font-size: 14%;
  text-align: justify;
  animation: appear 1s ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
